
.navbar{
    background-color: transparent;
    color: aliceblue;
}
  
.navbar.colorChange{
    background-color: #000;
    color: aliceblue;
}

.navbar {
    background: rgba(255, 254, 254, 0.4);
    color: white;
 }
 